*{
    padding: 0;
    margin: 0;
    font-family:sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #333;
    color: white;
}

.parent{
    position: absolute;
    transform: translate(-50%, -50%);
    left:50%;
    top: 50%;
}

.button{
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 15px;
    border-radius: 100px;
    text-align: center;
    border: 5px solid #0E86D4;
    padding: 40px;
    width: 400px;
    transition: 0.5s;
    color:#0E86D4;
}

.button:hover{
    box-shadow: 0 5px 30px #0E86D4 inset, 0 5px 50px;
    text-shadow: 0 0 5px  #0E86D4 ;
    cursor: pointer;
}
